<div class="container col-4">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text" class="form-control" formControlName="name" id="fullname" placeholder="Enter your full name">
          </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter your email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-dark">Register</button>
    </form>
</div>
