<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
            <th scope="col">Value</th>
            <th scope="col">Profit</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of stocks">
            <th scope="row">
              {{stock.symbol}}
            </th>
            <td>{{stock.amount}}</td>
            <td *ngIf="!loadCompleted">Loading...</td>
            <td *ngIf="!loadCompleted">Loading...</td>
            <td *ngIf="!loadCompleted">Loading...</td>
            <td *ngIf="loadCompleted">{{stock.price}}</td>
            <td *ngIf="loadCompleted">${{getStockValue(stock.amount,stock.price)}}</td>
            <td *ngIf="loadCompleted">{{getProfitInPercent(stock.profit)}}%</td>
            <td *ngIf="loadCompleted">
              <button (click)="openModal(stock.symbol, stock.amount, stock.price)" class="btn btn-primary dark btn-dark sell-button" type="button">Sell</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Loading latest price updates</p>  
</ngx-spinner>   