<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Owned</th>
            <th scope="col">Value</th>
            <th scope="col">Profit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of stocks">
            <th scope="row">{{stock.symbol}}</th>
            <td>{{stock.price}}</td>
            <td>{{stock.amount}}</td>
            <td>${{getStockValue(stock.amount,stock.price)}}</td>
            <!-- <td>{{getProfitInPercent(stock.count,stock.buyingPrice,stock.currentPrice)}}%</td> -->
          </tr>
        </tbody>
      </table>
</div>
