<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Current price</th>
            <th scope="col">Weekly move</th>
            <th scope="col">Daily move</th>
            <th scope="col">
              <button class="btn btn-primary btn-light add-btn" (click)="openAddModal()">Add stock</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of displayStocks">
            <th scope="row">{{stock.symbol}}</th>
            <td>{{stock.price}}</td>
            <td *ngIf="loadCompleted">{{getWeeklyMove(stock)}}%</td>
            <td *ngIf="loadCompleted">{{getDailyMove(stock)}}%</td>
            <td *ngIf="loadCompleted">
              <button class="btn btn-primary btn-dark delete-btn" (click)="remove(stock.symbol)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Refreshing watchlist</p>  
</ngx-spinner>   